body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.05644688556457em;
	letter-spacing: 0.2em;
}

.container-fluid{
	background-color: #f1f1f1;
}

#inscription{
	height: 85vh !important;
}

.vertical_center {
    display: flex;
    align-items: center;
}

header{
	background-color: #2b2b3d;
	height: 10vh;
}

footer{
	background-color: #bdbdc0;
	text-align: center;
	height: 5vh;
}

footer p{
	margin:0px;
	padding: 0px;
	line-height: 5vh;
	text-align: center;
}

#logo_squidteam{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 3.00%;
}

h1{
	text-align: center;
	font-size: 2.3420833567544em !important;
	letter-spacing: 0.3em !important;
}

.form-horizontal .control-label{
	text-align:left !important;
}

#formInscription input{
	background-color: #bdbdc0;
	border-radius: 0px;
	height: 45px;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#formInscription label{
	height: 45px;
	line-height: 45px;
	padding-top: 0px;
}

#formInscription .row{
	margin: 0px;
	padding: 0px;
	margin-bottom: 25px;
}

#formInscription .form-group{
	margin: 0px;
	padding: 0px;
}

#submitInscription{
	background-color: #2b2b3d !important;
	color: white;
	border-radius: 52px !important;
	font-size: 1.48722293153904em !important;
	height: 50px !important;
	letter-spacing: 0.3em !important;
}
@media(min-width:1200px){
	::-webkit-input-placeholder { /* WebKit browsers */
        color: #bdbdc0 !important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #bdbdc0 !important;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #bdbdc0 !important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color: #bdbdc0 !important;
    }

    textarea::-webkit-input-placeholder { /* WebKit browsers */
        color: #bdbdc0 !important;
    }
    textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: #bdbdc0 !important;
    }
    textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: #bdbdc0 !important;
    }
    textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
       color: #bdbdc0 !important;
    }
}

